@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.nav{
  background-color: #313C52;
}
.hero{
  background-color: #111827;
}
.list li:hover{
  color: #AAADB2;
  cursor: pointer;
}
.list a{
  color: #AAADB2;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #E94560; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  color: #E94560;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
  
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #E94560; }
}

.animate__animated.animate__bounceInRight {
  --animate-duration: 2s;
}

.container{
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}

.skills{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-size: 60% auto; 
  background-position:right center; 
  overflow: hidden; 
}
.skills.hover{
  background-size: 40%;
  background-position: right;
  transition: 1s;
}
.container-tools{
  max-width: 950px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}
