@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: #AAADB2;
  overflow-x: hidden;
}

.my-image{
  background-image: url("/blob2.svg");
  background-repeat: no-repeat;
  background-position: start;
}
.list li:hover{
  color: #AAADB2;
  cursor: pointer;
}
.list a{
  color: #AAADB2;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #E94560; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  color: #E94560;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
  
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #E94560; }
}

.animate__animated.animate__bounceInRight {
  --animate-duration: 2s;
}

.container{
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: center;
}
.container img{
  width: 50px;
}
.container-tools{
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: center;

}
.myHR{
  border: 0;
  height: 1px;
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(47, 1, 216, 0.75), rgba(0, 0, 0, 0));
}
.holo-proj-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.holo-proj-card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.holo-proj-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    20deg, 
    transparent, 
    transparent 60%, 
    #1E3A8A
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.holo-proj-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px #1E3A8A;
}

.holo-proj-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}


.holo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.holo-card {
  width: 150px;
  height: 30px;
  background: transparent;
  border: 1px solid #313C52;
  border-color: #313C52;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.holo-card h2 {
  color: #1E3A8A;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.holo-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    20deg, 
    transparent, 
    transparent 60%, 
    #1E3A8A
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holo-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #1E3A8A;
}

.holo-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
.about-lottie{
  background-image: url("blob-yellow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:60%;  
}
.contact-lottie{
  background-image: url("blob.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:60%;  
}
#navbar {
  transition: background-color 0.3s ease;
}
.list li{
  color: #fff;
}
.contact-container{
  width: 100%;
}